/* Header */
.cont-header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(..//images/portadas/poortada-custom.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  margin-top: 7.9rem;
}

.cont-header h1 {
  font-size: 50px;
  width: 1000px;
  text-align: center;
  line-height: 50px;
}

/* Patrocinios */
.cont-patro {
  width: 100%;
  height: 33vh;
  background-image: url(..//images/extras/patrocinios.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Texto */
.con-texto {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

/* Wristband */
.con-wrist {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.con-wrist h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.con-wrist h2 {
  font-size: 30px;
  margin-bottom: -10px;
}

.con-wrist form {
  display: flex;
  flex-direction: column;
}

.con-wrist input {
  width: 100%;
  height: 40px;
  margin-bottom: 1rem;
  border: 1px solid rgb(197, 197, 197);
  font-size: 30px;
}

.con-wrist textarea {
  border: 1px solid rgb(197, 197, 197);
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.con-wrist button {
  width: 80px;
  height: 50px;
  background: black;
  color: white;
  margin-top: 20px;
}
