.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}

.modal-content {
  background-color: #fff;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content p {
  font-size: 14px;
  width: 893px;
}

.modal-content img {
  width: 387px;
}

.close {
  color: #fff;
  background-color: #c9c9c9;
  width: 290px;
  height: 41px;
  margin-top: 5rem;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 0 0 0;
}

/* Header */
.container {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/portadas/portada-shop.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.btn-sizes {
  width: 148px;
  height: 41px;
  background-color: #36e5d1;
  position: fixed;
  transform: rotate(-90deg);
  left: -2.8%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-sizes p {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.container h1 {
  font-size: 40px;
}

/* Shop-01/05 */
.filters {
  width: 1200px;
  height: 60.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 0 0 20px;
}

.filters .leyenda {
  font-size: 13.5px;
  color: #000;
}

.filters .leyenda a {
  text-decoration: none;
  color: #36e5d1;
}

.filters .leyenda a:hover {
  color: #dbdbdb;
}

.filters .filt {
  width: 185px;
  height: 36px;
  border: 1px solid #cacaca;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 40px 5px 9px;
  color: #363636;
}

.filters .filt .option {
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  font-size: 16px;
}

.page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  flex-direction: row;
}

.page-btn .btn-page {
  background-color: white;
  border: 1px solid #36e5d1;
  color: #36e5d1;
  width: 47.9px;
  height: 63px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding: 18px;
  margin-left: 10px;
}
.btn-page:first-child {
  margin-left: 0px;
}

.page-btn .btn-page:hover {
  background-color: #36e5d1;
  border: none;
  color: white;
  cursor: pointer;
}

.page-btn .active {
  background-color: #36e5d1;
  color: white;
  cursor: pointer;
}

footer {
  margin-top: 1rem;
}
